* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {

    --beige: #A30000;
    color: black;
    --orange: #004777;
    --blue: #FF7700;
    --red: #EFD28D;
    --light-blue: black;
    font-family: 'Roboto Mono', monospace, sans-serif;
}

.theme-button {

    margin: .5rem;
    height: 1rem;
    border-radius: 30px;
    font-weight:  bold;
    background-color: --var(--orange)
}

a {
    color: #ddd;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: var(--light-blue);
}

.nav_links-items {
    margin: 2rem;
    justify-items: center;
    color: #dddddd;
    font-weight: 2rem;
    
}

.header_name {
    color: #ddd;
    margin: 1rem;
    
    font-weight: bold;
}


.header_subtitle {
    margin: 1rem;
    color: #ddd;
 
}

.header_title {
    margin: 1rem;
    color: #ddd;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
  position: relative;
    width: 100vw;
}
/* Application Classes*/
.hidden {
    display:none;
}


.flex-grid {
  display: flex;
  background-color: var(--red);

}

h2 {
    color: #ddd;
}

.portfolio {
    padding: 1rem;
    height: auto;
    margin: 1rem;
    border-bottom: 1px solid #ddd;
    overflow: scroll;
}
.portfolio_images {
    width: 12rem;
  margin: 1 rem;

}

.skills {
    justify-items: center;
    align-items: space-between;
    border-bottom: 2px solid #dddddd;
    border-top: 2px solid #dddddd;

}
.skills_title {
    margin: 1rem;
color: #ddd;
}
.resume {
    margin-top: 1rem;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
}

.resume_title {
    margin: 1rem;
    height: 100vh;
}

.contact_me {
   margin: 1rem;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.social__tags {
    display: flex;
    margin: 1rem;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

contact_link {
    margin: 1 rem;
}

.skills_list {
    justify-items: center;
      padding: 1rem;
    align-items: space-between;
}

.about_me {
    border-bottom: 2px solid #dddddd;
}

.about_description {
    font-weight: bold;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.05);
    margin: 6rem;
    height:100vh;
    color: #dddddd;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}


aside {
    justify-items: center;
    position: sticky;
    position: fixed; 
    height: 100vh;
    border-right: 3px solid;
    border-color: linear-gradient(-90deg, var(--beige), #dddddd);
  
    background-image: linear-gradient(
        rgba(255, 0, 0, 0.137), 
        rgba(255, 0, 0, 0.534)), url(static/clouds.jpg);
}


.wrapper {
    margin: 0;
    padding: 0;
}




.projects_container {
    display: flex;
    flex-direction: row;
    max-width: 75vw;
    justify-content: center;
    align-items: space-between;
    position: relative;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .projects_row {
    margin: 0 -5px;
  }
  .projects_row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .project-column {
    margin-top: 1rem;
    float: left;
    width: 30%;
    padding: 0 10px;
  }
  
  .article-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

.me__picture {
    border-radius: 60px;
    margin-left: 1rem;
}

ul {
    list-style-type: none;
    }

@media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
}

.hidden {
    display: none;
}
.main__area {
    background-image: linear-gradient(-90deg, var(--beige),var(--light-blue));
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left:230px;
 
}
main__area dark {
    background-color: #dddddd;   
    color: black;
}

.dark {

    --red: #A30000;
    --blue: #004777;
    --orange: #FF7700;
    --beige: #EFD28D;
    --light-blue: #00AFB5;
    


}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 3rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
      
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }